<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/siteFragments::head"></head>
<header th:replace="fragments/siteFragments::header"></header>
<body>


<div class="container body-content">


    <h2>Request Confirmation</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th >Title</th>
            <th >Description</th>
            <th >Date</th>
        </tr>
        </thead>
        <tr>
            <td th:text= "${request.title}"></td>
            <td th:text= "${request.description}"></td>
            <td th:text= "${#dates.format(request.dueDate, 'MM-dd-yyyy')}"></td>
        </tr>
    </table>

    </div>
</body>
<footer th:replace="fragments/siteFragments::footer"></footer>
</html>