<!DOCTYPE html>
<html lang="en" xmlns:th="http;//www.thymeleaf.org">
<head th:replace="fragments/siteFragments::head"></head>


<body>
    <h2>User Requests</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        </thead>
        <tr th:each="request : ${requests}">
            <td th:text="${request.title}"></td>
            <td th:text="${request.description}"></td>
            <td th:text= "${#dates.format(request.dueDate, 'MM-dd-yyyy')}"></td>
        </tr>
    </table>


</body>
</html>