<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/siteFragments::head"></head>
<body>
<header th:replace="fragments/siteFragments::header"></header>

<div class="container">
    <h1>Safety Guidelines</h1>
    <p>It is important to ARK to foster a safe space for everyone.  We encourage you to approach all interactions with fellow users with the appropriate level of caution.  Please review these basic safety guidelines:</p>
    <ul>
        <li>Never disclose personal identification information or private data.</li>
        <li>Meet in a public place</li>
        <li>Take a friend with you to meetings</li>
        <li>Don’t click on suspicious links in communications with other users</li>
        <li>Use common sense to protect yourself from potential fraud or scams</li>
    </ul>
    <p>Please visit the following links for more detailed information about online safety.</p>
    <ul>
        <li> <a href="https://consumer.ftc.gov/identity-theft-and-online-security/online-privacy-and-security">FTC Consumer Advice</a></li>
        <li> <a href="http://www.staysafeonline.org">National CyberSecurity Alliance</a></li>
        <li> <a href="https://www.usa.gov/online-safety">USA.gov</a></li>
    </ul>
</div>

</body>
<footer th:replace="fragments/siteFragments :: footer"></footer>
</html>