<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/siteFragments::head"></head>
<body>
<div th:fragment="landingPage">
    <div>
        <img th:src="@{/images/blueArkLanding Page_addContrast.png}" class="img-fluid" alt="Acts of Empathy, Solidarity, and Kindness">
    </div>

    <div class="container">
        <div class="p-4 text-center">
            <a th:href="@{/register}" style="text-decoration: none"><h3>Click Here to Join ARK</h3></a>
        </div>
    </div>
</div>
</body>
</html>