<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/siteFragments::head"></head>
<body>
<div th:fragment="landingPage">


        <div class="landingPage">
            <img class="landing-page-image" th:src="@{/images/blueLandingPage_contrastResize.png}"  alt="Acts of Empathy, Solidarity, and Kindness">
            <div class="landing-page-button">
                <button th:if="${user}" th:onclick="window.location.assign('/ark/request');" type="button" class="btn btn-lg btn-primary" alt="Create Request">Create Request</button>
                <button th:unless="${user}" th:onclick="window.location.assign('/ark/register');" type="button" class="btn btn-lg btn-primary" alt="Join Ark">Join Ark</button>
<!--                <a th:href="@{register}"><button type="button" class="btn btn-lg btn-primary" alt="Join Ark">Join Ark</button></a>-->
            </div>
        </div>

</div>
</body>
</html>