<!DOCTYPE html>
<html lang="en" xmlns:th="http;//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div  th:fragment="threadResponse" class="container" style="margin: 75px">


        <h2 th:text="${request.title}"></h2>
        <p th:text="${request.description}"></p>


        <form th:action="@{/response/threadResponse/submit}" method="post" style="margin-top: 15px">
            <input type="hidden" th:field="${createResponseFormDTO.user}" value="${createResponseFormDTO.user}">
            <input type="hidden" th:field="${thread.id}" value="${thread.id}">



            <div class="form-outline">
                <textarea class="form-control" th:field="${createResponseFormDTO.message}" rows="7" ></textarea>
            </div>

            <div class="form-group" style="margin-top: 10px">
                <input type="submit" value="Respond" class="btn btn-success">
            </div>

        </form>
    </div>


    <div  th:fragment="wholeThread" class="container" style="margin: 75px">

        <table class="table table-striped">
            <thead>
            <tr>
                <th >Title</th>
                <th >Description</th>
            </tr>
            </thead>
            <tr>
                <td th:text= "${request.title}"></td>
                <td th:text= "${request.description}"></td>
            </tr>
            <tr th:each="thread:${threads}">
                <td label="Response Message: " th:text="${response.message}"></td>
                <td label="Response Time: " th:text="${response.responseDate}"></td>
            </tr>
        </table>
        <form method="post" th:action="@{/response/create}">
            <input type="hidden" th:field="${thread.id}" value="${thread.id}">
            <input type="hidden" th:name="requestId" th:value="${request.id}">
            <input type="submit"  class="btn btn-primary" value="Respond">
        </form>

    </div>






</body>
</html>