<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/siteFragments::head">

</head>

<body>

<header th:replace="fragments/siteFragments::header"></header>
<div class="container" style="padding-bottom: 10px">
<div style="padding-left: 5%; padding-top: 3%">
    <h3>Messages</h3>

</div>
<div class="container">

            <p th:each="response : ${thread.responses}" > <a th:text="${response.message}"></a> </p>
                <form method="post" th:action="@{/response/threadResponse}">
                    <input type="hidden" name="id" th:value="${thread.id}">
                    <input type="submit"  class="btn btn-primary" value="Respond">
                </form>

</div>
</div>
<div>
<footer th:replace="fragments/siteFragments::footer"></footer>
</div>
</body>
</html>
