<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/siteFragments::head">

</head>

<body>

<header th:replace="fragments/siteFragments::header"></header>
<div class="container" style="padding-bottom: 10px">
<div style="padding-left: 5%; padding-top: 3%">
    <h3>Messages</h3>

</div>
<div class="container">

    <table th:each="response : ${threadResponses}" class="table table-bordered">



        <tr>  <td> <a th:text="${response.message}"></a>

            </td>

        </tr>
        <tr>
            <td class="table-link">
                <form method="post" th:action="@{/response/create}">
                    <input type="hidden" name="targetObject" th:value="${response.id}">
                    <input type="submit"  class="btn btn-primary" value="Respond">
                </form>

            </td>
        </tr>

    </table>

</div>
</div>
<div>
<footer th:replace="fragments/siteFragments::footer"></footer>
</div>
</body>
</html>
