<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<header th:replace="fragments/siteFragments::head"></header>
<body>
<header th:replace="fragments/siteFragments::header"></header>
<div style="padding-left: 5%; padding-top: 3%">
<div>
    <h3>Sent!</h3>
    <p>Thank you for responding to a request</p>
</div>


    <form method="post" th:action="@{/response/index}">
        <input type="submit" value="View all messages">
        <input type="hidden" th:field="${thread.id}">
    </form>

</div>
<footer th:replace="fragments/siteFragments::footer"></footer>
</body>
</html>