.inlineBlock{
    display: inline-block;
}
.errors{
    color: red;
    background: antiquewhite;
    border-radius: 5px;
    padding: 10px;

}

.fixed{
    bottom: 0;
    width: 100%;
}
#map {
  height: 100% !important;
  background: blue;
  border-radius: 10px;
}
#mapFrame{
    width: 900px;
    height: 400px;
    margin: auto;
    border: 2px ridge white;
    border-radius: 10px;
}
thead{
    font-weight: bold;
}
.hidden{
    display: none;
}
#addressSubmitted{
    display: block;
}
.giveMeSpace > *{
    margin: 5px;
}


.landingPage{
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.landing-page-image{
    position: absolute;
    width: 100%;
    height: auto;


}

.landing-page-button{
    position: absolute;

    bottom: 60px;


}

.seconds{
    color: blue;
}

/*gratitude images  css*/


.gratitudeSelector input {
    margin: 50px;
    padding:0px;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.thankYouCard, .gratitudeSelector input:active + .thankYouCard{opacity: .9;}
.thankYouCard, .gratitudeSelector input:checked + .thankYouCard{
    filter: grayscale(0);
    -webkit-filter:none;
         -moz-filter:none;
              filter:none;
}

.thankYouCard{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display:inline-block;
    height: 192px;
    width: 288px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;

    -webkit-filter: brightness(1) grayscale(0) opacity(.7);
       -moz-filter: brightness(1) grayscale(0) opacity(.7);
            filter: brightness(1) grayscale(0) opacity(.7);
}

.thankYouCard:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}




