:root{
    --color1: #BF304A;
    --color2: #D9C7CB;
    --color3: #8C8356;
    --color4: #732D27;
    --color5: #BF5A5A;
    --color6: #DDAFA5;
}
body{
    background: var(--color2);
}
a:link{
    color: var(--color2);
}
a:visited{
    color: var(--color4);
}
.btn{
    border: 2px solid var(--color4);
}
.btn-primary{
  background: var(--color3);
  color: var(--color2);
}
.btn:hover{
    background: var(--color4);
    color: var(--color2);
    border: 2px solid var(--color2);
}
.btn-light{
  background: var(--color2);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: var(--color5);
    color: var(--color4);
    font-weight: 500;
}
.display-3{
  color: var(--color4);
  text-shadow: 0 0 10px var(--color2);
}
.container{
    padding-bottom: 100px;

}
.navContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--color4);
    font-weight: 500;
}
.navbar{
    background: var(--color5);
}
.inlineBlock{
    display: inline-block;
}
.errors{
    color: red;
    background: antiquewhite;
    border-radius: 5px;
    padding: 10px;
}
.fixed{
    bottom: 0;
    width: 100%;
}
#map {
  height: 100% !important;
  background: blue;
  border-radius: 10px;
}
#mapFrame{
    width: 900px;
    height: 400px;
    margin: auto;
    border: 2px ridge white;
    border-radius: 10px;
}
thead{
    font-weight: bold;
}
.hidden{
    display: none;
}
#addressSubmitted{
    display: block;
}
.giveMeSpace > *{
    margin: 5px;
}
.landingPage{
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.landing-page-image{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 100px;
    background: var(--color3);
}
.landing-page-button{
    position: absolute;
    bottom: 200px;
}
.seconds{
    color: blue;
}
.dashboardFrame img{
    margin: 2px;
    align-self: center;
}
.dashboardFrame{
  background: linear-gradient(rgba(255,0,0,0.05),rgba(255,128,0,0.05),rgba(255,255,0,0.05),rgba(0,255,0,0.05),rgba(0,0,255,0.05),rgba(75,0,130,0.05),rgba(155,38,182,0.05));
  border: 2px ridge rgba(0,255,0,0.10);
  padding: 10px;
  width: 40%;
  height: 300px;
  overflow: auto;
  border-radius: 7.5px;
}
.dashboardOuter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboardPanels{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/*gratitude images  css*/


.gratitudeSelector input {
    margin: 50px;
    padding:0px;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.thankYouCard, .gratitudeSelector input:active + .thankYouCard{opacity: .9;}
.thankYouCard, .gratitudeSelector input:checked + .thankYouCard{
    filter: grayscale(0);
    -webkit-filter:none;
         -moz-filter:none;
              filter:none;
}

.thankYouCard{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display:inline-block;
    height: 192px;
    width: 288px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;

    -webkit-filter: brightness(1) grayscale(0) opacity(.7);
       -moz-filter: brightness(1) grayscale(0) opacity(.7);
            filter: brightness(1) grayscale(0) opacity(.7);
}

.thankYouCard:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}




/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,255,0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
}
.snuggleWithMe{
  justify-content: space-around;
}