<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/siteFragments::head"></head>
<body>
<header th:replace="fragments/siteFragments::header"></header>
<body>
<div class="container">
    <h1>About Us</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac eros enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam rutrum, magna a condimentum tincidunt, erat eros porttitor nulla, ac consectetur orci arcu ut felis. In scelerisque pellentesque enim, sit amet rhoncus nibh. Aliquam erat volutpat. Vestibulum et mi dapibus, aliquet sem vitae, vestibulum elit. Fusce bibendum erat a nibh dapibus, ac mollis purus ultricies. Nulla eget ipsum non ligula consequat pulvinar.
    </p>
</div>

</body>
<footer th:replace="fragments/siteFragments :: footer"></footer>
</html>