<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/siteFragments::head"></head>
<body>
<header th:replace="fragments/siteFragments::header"></header>
<body>
<div class="container">
    <h1>About Us</h1>
    <p>
        T-Minus is a collective of Ammaarah Khan, Jamie Miller, Lindsay Waters, and Beth Johnson.
    </p>
    <a href="mailto: ark-feedback@domesne.com">Send Feedback</a>
</div>

</body>
<footer th:replace="fragments/siteFragments :: footer"></footer>
</html>