<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>ARK</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<!--Sources bootstrap footer from https://getbootstrap.com/docs/5.1/examples/footers/ -->
<footer class="bg-dark text-white, py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Safety</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 T-Minus</p>
</footer>


</body>
</html>